 /* body */


body{
  /*  background-color: #413b3c; */
background:  url("../images/subtle-dots-bg.png") center center;
background-repeat: repeat-y repeat-x;
background: -webkit-linear-gradient(right, #FFF, #413b3c);
background: linear-gradient(to right, #FFF, #413b3c);
 }


html {
    position: relative;
 }


/* wrapper */

.wrapper{
    background-color: #ccc;
    padding: 20px 15px 20px 15px;
}




.navwrap{
  background-color: #413b3c;


  height:100px;

  max-width: 100%;

    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 20px; }

/*
max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px; }

    @media screen and (max-width: 800px) {
      .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px; } }

*/

.indbg{
  background-color:#ccc;
  padding-top:25px;
}

/* typography */

p{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size:14px;
    line-height: 21px;
}

h1{
  font-family: 'Open Sans', sans-serif; font-weight:700;
  color:#413b3c;
  text-align: left;
  font-size:26px;
  padding-top:10px;
  text-decoration:none;
  text-transform: none;
}


h1, .post__title, .post__title--grouped a{
  font-family: 'Open Sans', sans-serif; font-weight:700;
  color:#413b3c !important;
  text-align: left;
  font-size:26px!important;
  line-height:32px;
  text-decoration: none;
  text-transform: none;
}



h2{
  font-family: 'Open Sans', sans-serif; font-weight:700;
  color:#413b3c;
  text-align: left;
  font-size:13px;
  text-decoration:none;
  text-transform: none;
}

h3 a{
  font-family: 'Open Sans', sans-serif; font-weight:700;
  color:#413b3c !important;
  text-align: left;
  font-size:20px;
  text-decoration:underline;
  text-transform: none;
}

h4 {
  font-size:16px;
  font-family: 'Open Sans Condensed', sans-serif;
  color:#413b3c !important;
  text-decoration:none;
  font-style: italic;
}

.otherwords{

 margin-top:30px;
margin-left:auto;
margin-right:auto;
}

.otherwords h5{

  font-family: 'Open Sans Condensed', sans-serif;
  font-size:64px !important;
  line-height:64px !important;
  color:#000;
 text-align:center!important;
 text-transform: uppercase;

}

/* style for posts  */
.post__content{
  margin-bottom:120px;

}
.post__author{
    color:#000;
}

.post__date{
 text-align:left;
 font-family: 'Open Sans', sans-serif; font-weight:400;
 color:#000;
}


.post__meta{
  text-align: left;
}

/* style for site logo */
.site-logo {
	min-width: 220px;
	max-width: 220px;
	height: 60px;
	background-size: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/logo-edges.gif') no-repeat;
	background-size: 100%;
	display: block;
	text-align: center;
	float:left;
}

  @media screen and (max-width: 480px) {
    .site-logo{
     display:none;
}
}

/* styles for nav */

nav.main-nav ul {
 padding: 0;
 list-style: none;
 float: right;
}

nav.main-nav li,
nav.main-nav a {
 display: inline-block;
}

nav.main-nav li a {
   margin-top: 10px;
   margin-bottom:50px;
   padding: 20px 10px 10px 0px;

   font-size: 14px;
   color:#000;
   font-family: 'Open Sans', sans-serif; font-weight:400;
   text-decoration:none;
 }

nav.main-nav li a.active {
 color: #FFFF00 !important;
 text-decoration: underline !important;
}

a.notactive {
 color: #000;
}

/* container */

div.container,
div.small-container {
 margin: 0 auto;
 padding: 0 20px;
}

div.container {
 max-width: 970px;

 }

div.small-container {
 max-width: 700px;
}

 footer{
   color:#999!important;
   text-align:center;
   background-color:none!important;
   width:100%;
   left: 0;
   bottom: 0;
   height: 100px;
   border-top:1px;
   font-size:13.5px;

 }


 footer p{
   color:#999!important;

 }
/* footers */

/* for posts */
 .postbg{
   background-color: #FFF;
   padding:10px;
   margin-top:10px;
 }
/* bg */
.subtledots{
	background:  url("../images/subtle-dots-bg.png") center center;
	background-repeat: repeat-y repeat-x;
	background-color:#3E3B3C;
}

/* pagination */
.pagination{
 background-color:#fff;
 color:#000;
}

/* links */
a {
  	transition: all 0.25s ease 0s;
  color:#323232;
  text-decoration: underline; }
  a:visited {
    color:#323232;
  text-decoration: underline; }
  a:hover {
    color: #858585;
    text-decoration: underline; }


/* hr */
hr{
    margin: 20px 0px 20px 0px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    background: #999;
}

.share{
  margin:40px 0px 40px 0px;

}

/* site-header */
.site-header {
    border-top: 0px !important;
    border-bottom: 0px solid #999;
    min-height: 56px;
    position: relative;

  }
/* site-footer */
  .site-footer {
    border-top: 0px !important;
    background-color: #FFFF00;
  }

  .site-footer p{
    color:#000 !important;
  }



/* selector color */
::-moz-selection { background:rgba(255,255,0, 0.5)!important;}
::-moz-selection { color: #000}
::selection { color: #000; }
::selection { background:rgba(255,255,0, 0.5); }
