<header class="site-header">

  <div class="navwrap">

      <a class="site-logo is-hidden-mobile" href="http://www.iedesigner.com" title="View Work">
      </a></li>
      <nav class="main-nav">
      <ul>
      <li><a class="notactive" href="http://www.iedesigner.com" title="View Work">Work</a></li>
      <li><a class="notactive" href="http://www.iedesigner.com/contact.html" title="View Work">Contact</a></li>
      <li><a class="active" href="/" title="iedesigner.me - Home">Blog</a></li>
      </ul>
      </nav>
</div>




 </header>


  <div class="otherwords"><h5>In Other Words...<h5></div>
